.menu {
  /*background-color: #ffffff;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #000000a3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease;
}
.menuocultar {
  top: -85px;
  transition: 0.5s;
}

.menu .logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.menu .logo-box h1 a {
  text-decoration: none;
  font-size: var(--title);
  font-weight: 400;
  color: var(--black);
}
.menu .list-container {
  margin-right: 20px;
}
.menu .list-container ul {
  display: flex;
}
.menu .list-container ul li {
  list-style: none;
}
.menu .list-container ul li a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 8px;
  color: var(--white);
  border-radius: 24px;
  transition: 0.3s;
  font-size: 16px;
}
.menu .list-container ul li a.active {
  background: var(--red);
  color: #fff;
}
.menu .list-container ul li a:hover {
  background: var(--red);
  color: #fff;
}
.btn-menu {
  display: flex;
  margin-right: 15px;
}
.btn-menu > img {
  width: 30px;
  padding-left: 5px;
}
.btn-menu > img svg {
  fill: firebrick;
}
